 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 162px;
}

.u-section-1 .u-form-1 {
  height: 81px;
  margin: 40px 17px 0 469px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -66px auto 55px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-text-1 {
  margin: 56px 725px 0 104px;
}

.u-section-2 .u-text-2 {
  margin: -52px 104px 0 725px;
}

.u-section-2 .u-image-1 {
  height: 121px;
  width: 111px;
  margin: 70px auto 0 1029px;
}

.u-section-2 .u-text-3 {
  margin: -86px 104px 0 725px;
}

.u-section-2 .u-group-1 {
  width: 111px;
  min-height: 120px;
  height: auto;
  margin: -86px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-image-2 {
  width: 112px;
  height: 112px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: -86px 725px 0 104px;
}

.u-section-2 .u-text-5 {
  margin: -52px 619px 0 443px;
}

.u-section-2 .u-text-6 {
  margin: -52px 443px 0 619px;
}

.u-section-2 .u-text-7 {
  width: 79px;
  margin: -52px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 625px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 4px;
    margin-left: 625px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 829px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 4px;
    margin-left: 625px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    width: 111px;
    height: 111px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 625px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 519px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 343px;
    margin-left: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 409px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 409px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 609px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 409px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 409px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 409px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 233px;
    margin-left: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 229px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 429px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 229px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 229px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 229px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 143px;
    margin-left: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 555px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 29px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 229px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -105px;
    margin-left: 29px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -48px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -85px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -71px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 43px;
    margin-left: 219px;
  }
}